@import "../settings/colors";
@import "../settings/mixin";
.header__menu {
    width: 100vw;
    height: 100vh;
    background-color: rosybrown;

    .menu__orderBat {
        padding-top: 150px;

        .menu__orderBatNag {
            text-align: center;
            padding: 10px 0 5px 0;
            font-size: 2rem;
            color: $color-black;
        }

        .menu__orderBatLine {
            width: 10vw;
            border-top: 2px solid $color-black;
            padding-top: 20px;
            display: flex;
            text-align: center;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
.footer__menuBar {
    margin-top: 0;
}

@media (min-width: 600px) {
    .header__menu {
        background-size: 98vw 99vh;
    }
}
