$color-gallery: #E2F3FB;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-font:#DC2B30;
$color-black: #000000;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-hover:#A5A5A5;
$footer-color:#A5A5A5;
$color-primary: #c1deeb;





